extends ../base.pug 

block content 
    div.common_form_container
        h1.page_title=pageTitle 
        if loggedInUser.avatarUrl
            div.form_profile_thumb
                if loggedInUser.avatarUrl.includes("github")
                    img(src=`${loggedInUser.avatarUrl}` width="100%")
                else 
                    img(src=`${loggedInUser.avatarUrl}` width="100%")
        form(method="POST" enctype="multipart/form-data").common_form
            label(for="avatar") 프로필 이미지 업로드하기
            input(type="file" id="avatar" name="avatar" accept="image/*")
            input(type="text" requred name="name" placeholder="이름 변경하기" value=loggedInUser.name)
            input(type="email" requred name="email" placeholder="이메일 변경하기" value=loggedInUser.email ) 
            input(type="text" requred name="username" placeholder="사용자이름 변경하기" value=loggedInUser.username )
            input(type="text" name="location" placeholder="지역 변경하기" value=loggedInUser.location )
            button(type="submit") 프로필 수정하기
            if !loggedInUser.socialOnly
                a(href="change-password").form_link_password 비밀번호 변경하기